.list-group-item {
  line-height: 2.5;
}

body {
  background-color: black;
}

/* log in page */

.jumbotron {
  font-family: 'Limelight', cursive;
  background-color: black;
  color: white;
}

.display-4 {
  color: rgb(207, 17, 17);
  font-size: 72px; 
}

.btn {
  background-color: white;
  color: black;
}

.extras {
  font-family: 'Limelight', cursive;
}

.card {
  background-color: rgb(207, 17, 17);
  color: black;
  border-width: 2px;
  border-color: black;
}

p {
  color: white;
}

/* main page */
#currentMovies,
#upcomingMovies {
  color: red;

}

/* chatroom pages */

#chatroomTitle{
  background-color: rgb(41, 41, 41);
  color: red;
  border: 2px solid black;
  font-family: 'Limelight', cursive;
}

#chattersContainer{
  background-color: rgb(41, 41, 41);
  color: rgb(171, 1, 1);
  height: 500px;
  border: 2px solid black;
}

#chatboxContainer{
  background-color: rgb(125, 125, 125);
  height: 500px;
  border: 2px solid black;
  padding-top: 10px;
}

#sendContainer{
  background-color: rgb(125, 125, 125);
  border: 2px solid black;
  height: 60px;
  padding-top: 8px;
  text-align: center;
}

.sendButton{
  background-color: rgb(171, 1, 1);
  color: white;
}